/* Space out content a bit */

/* Everything but the jumbotron gets side spacing for mobile first views */
.header {
  padding: 0px 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}

.container {
  color: #0696DE;
}

.logosmall {
  display: block;
  margin: 0px auto;
  height: 75px;
  width:  75px;
}

ul {
  width: 100%;
  height: 100%;
  list-style-type: none;
  margin: 0;
  padding: 20px;
  overflow: hidden;
}

li {
  float: left;
}

.right {
  float: right;
}

li a {
    display: block;
    text-align: center;
}
